*{
  margin: 0;
  padding: 0;

}
body{
  font-family: sans-serif;
}
#nav-bar{
 position: sticky;
 top: 0;
 z-index: 10;
}

.navbar{
  background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
  padding: 0 !important;
}
.navbar-brand img{
height: 60px;
padding-left: 20px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars{
  color: #fff;
  font-size: 30px !important;
}
.navbar-toggler{
  outline: none !important;
}

/*------Banner section --------*/
#banner{
  background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
  color: #fff;
  padding-top: 5%;
}
.project-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100;
}

p{
  text-align: center;

}

.bottom-img{
  width: 100%;
}